extends layout

block content
    
    if message
        p #{message}

    form(action="/edit_comment_save/#{postId}/#{commentId}", method="post")
        label(for="content") Content :
        input(type="text", name="content" , value="#{comment.content}")
        br
        button(type="submit") Send